// цвета    
@const_body_color: #d9d9d9;             // основной цвет всего фона
@const_header_color: #1D2631;           // цвет хедера
@const_menu_active_color: #283645;      // цвет фона активного меню
@const_menu_color: #0b0f137a;           // цвет фона меню

// размеры окон используемые в медиа запросах min-width:
@const_win_size_min: 50px;              // все что меньше мобилы
@const_win_size_mobile: 320px;          // мобила 
@const_win_size_tablet: 660px;          // планшет
@const_win_size_monitor: 1200px;        // пк

// шрифты
@font-face {
    font-family: opensans;   
    src: url(../fonts/opensans.woff);  
}

@font-face {
    font-family: opensans_bold;   
    src: url(../fonts/opensansbold.woff);  
}

@font-face {
    font-family: opensans_light;   
    src: url(../fonts/opensanslight.woff);  
}

// размеры шрифтов
@font_menu_li: 18px;                // у элиментов меню
@font_def_size: 14px;
@font_btn_size: 18px;

// всякие размеры
@height_menu_close_mobile: 66px;     // высота блока меню мобилы
@height_menu_close_tablet: 110px;    // высота блока меню планшета
@height_menu_li_mobile: 63px;        // высота блока элемента меню

@size_logo_mobile: 74px;             // ширина лого на мобилах
@size_logo_tablet: 145px;            // ширина лого на планшете
@size_logo_monitor: 147px;           // ширина лого на мониторе

@size_btn_burger: 50px;              // ширина кнопки бургер   
@size_btn_close: 23px;               // ширина нажатой кнопки бургер (крест х)

@min_size_body: 220px;               // минимальный размер body 

@heder_min_h_step_0: 363px;          // минимальная высота хедера для мобил
@heder_max_h_step_0: 700px;          // максимальная высота хедера для мобил

@heder_min_h_step_1: 446px;         // минимальная высота хедера для планшета
@heder_max_h_step_1: 744px;         // максимальная высота хедера для планшета

@heder_min_h_step_2: 595px;         // минимальная высота хедера для монитора
@heder_max_h_step_2: 970px;         // максимальная высота хедера для монитора

@downld_module_max_w: 270px;        // минимальная ширина блока dovnload-module (инфо о для скачивания)


