// цвета    
@const_body_color: #d9d9d9;             // основной цвет всего фона
@const_header_color: #1D2631;           // цвет хедера
@const_menu_active_color: #283645;      // цвет фона активного меню
@const_menu_color: #0b0f137a;           // цвет фона меню

// размеры окон используемые в медиа запросах min-width:
@const_win_size_min: 100px;             // меньше мобилы
@const_win_size_mobile: 320px;          // мобила 
@const_win_size_tablet: 660px;          // планшет
@const_win_size_monitor: 1200px;        // пк

// шрифты
@font-face {
    font-family: opensans;   
    src: url(../fonts/opensans.woff);  
}

@font-face {
    font-family: opensans_bold;   
    src: url(../fonts/opensansbold.woff);  
}

@font-face {
    font-family: opensans_light;   
    src: url(../fonts/opensanslight.woff);  
}

// размеры шрифтов

@font_menu_li: 18px;                // у элиментов меню
