.header {
    background-color: @const_header_color;
    padding-top: 0px;

    @media (min-width: @const_win_size_min) and (max-width: calc(@const_win_size_mobile - 1px)) {
        min-height: auto;
       // width: 100vw;

        &--no_js {
            padding-top: 34vh;
        }
    }

    @media (min-width: @const_win_size_mobile) and (max-width: calc(@const_win_size_tablet - 1px)) {
        min-height: 100vh;
      //  width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    @media (min-width: @const_win_size_tablet) and (max-width: calc(@const_win_size_monitor - 1px)) {
        height: auto;
    }

    @media (min-width: @const_win_size_monitor) {
        height: auto;
    }

}

.header-backgraund {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media (min-width: @const_win_size_mobile) and (max-width: calc(@const_win_size_tablet - 1px)) {
        background-image: url(../img/bg-back-mobile@1x.jpg);
        @media (min-resolution: 2dppx) {
            background-image: url(../img/bg-back-mobile@2x.jpg);
        }
    }

    @media (min-width: @const_win_size_tablet) and (max-width: calc(@const_win_size_monitor - 1px)) {
        background-image: url(../img/bg-back-tablet@1x.jpg);
        @media (min-resolution: 2dppx) {
            background-image: url(../img/bg-back-tablet@2x.jpg);
        }
    }

    @media (min-width: @const_win_size_monitor) {
        background-image: url(../img/bg-back-desktop@1x.jpg);
        @media (min-resolution: 2dppx) {
            background-image: url(../img/bg-back-desktop@2x.jpg);
        }
    }
}

.header-backgraund__png-hand {
    position: absolute;
    bottom: 0px;
    width: auto;

    @media (min-width: @const_win_size_mobile) and (max-width: calc(@const_win_size_tablet - 1px)) {
        content: url(../img/iphone-hand-mobile@1x.png);
        height: 65%;
        transform: translateX(-27px);
        @media (min-resolution: 2dppx) {
            content: url(../img/iphone-hand-mobile@2x.png);
        }
    }

    @media (min-width: @const_win_size_tablet) and (max-width: calc(@const_win_size_monitor - 1px)) {
        content: url(../img/iphone-hand-tablet@1x.png);
        height: 70%;
        right: 6%;
        @media (min-resolution: 2dppx) {
            content: url(../img/iphone-hand-tablet@2x.png);
        }
    }

    @media (min-width: @const_win_size_monitor) {
        content: url(../img//iphone-hand-desktop@1x.png);
        height: 80%;
        right: 5%;   
        animation: hand_anim 1s 1 ease-out;     // подключить анимацию
        animation-delay: 0.5s;                  // задержка перед воспроизведением
        animation-fill-mode: both;              // позиция элемента берется из 1го кадра анимации
        @media (min-resolution: 2dppx) {
            content: url(../img//iphone-hand-desktop@2x.png);
        }
    }
}

.header-backgraund--header-container {
    display: none;
    width: 100vw;
    overflow: hidden;

    @media (min-width: @const_win_size_mobile) and (max-width: calc(@const_win_size_tablet - 1px)) {
        height: 68vh;
        min-height: @heder_min_h_step_0;
        max-height: @heder_max_h_step_0;
        display: flex;
        justify-content: center;
    }

    @media (min-width: @const_win_size_tablet) and (max-width: calc(@const_win_size_monitor - 1px)) {
        height: 100vh;
        min-height: @heder_min_h_step_1;
        max-height: @heder_max_h_step_1;
        display: flex;
        justify-content: center;
    }

    @media (min-width: @const_win_size_monitor) {
        height: 100vh;
        min-height: @heder_min_h_step_2;
        max-height: @heder_max_h_step_2;
        display: flex;
        justify-content: center;
    }

}

.header__h1 {
    margin: 0;
    padding: 0;

    h1 {
        margin: 0;
        padding: 0;
        color: white;
        font-family: opensans_light;
        font-size: 24px;
        font-weight: lighter;
    }
}

.header__h1--set_pos {
    text-align: center;


    @media (min-width: @const_win_size_min) and (max-width: calc(@const_win_size_mobile - 1px)) {
        display: none;
    }

    @media (min-width: @const_win_size_mobile) and (max-width: calc(@const_win_size_tablet - 1px)) {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        top: 63px;
        width: 100%;
        height: 14vh;
        min-height: 75px;
    }

    @media (min-width: @const_win_size_tablet) and (max-width: calc(@const_win_size_monitor - 1px)) {
        display: block;

        h1 {
            font-size: 40px;
        }
    }

    @media (min-width: @const_win_size_monitor) {
        display: block;

        h1 {
            font-size: 50px;
        }
    }
}
