// весь слайдер
.slider_1_style {
    width: 100%;                        /*!!! ЗАДАТЬ ШИРИНУ СЛАЙДЕРА */
    min-height: 360px;                      /*!!! ЗАДАТЬ ВЫСОТУ СЛАЙДЕРА */
    padding-bottom: 60px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    row-gap: 44px;
}

// вьюпорт слайдера
.slider_1_style_vp {
  //  height: 360px;                      /*!!! ЗАДАТЬ ВЫСОТУ СЛАЙДЕРА */
}


// добавим эффекты перехода слайдам
.addon_slider__slide {
    & .slider_1_style_sl_cnntr {            // для не активных слайдов
        opacity: 0%;                        // непрозрачность
        transform: scale(30%) scaleX(5%);   // размер и сжатие
        transition: linear 0.4s;            // плавность на исчезание
    }

    &--active .slider_1_style_sl_cnntr {    // ждя активного слайда
        opacity: 100%;                      // непрозрачность
        transform: scale(100%) scaleX(100%);// размер и сжатие
        transition: linear 0.1s;            // плавность на появление
    }
}

// внутренний контейнер слайда
.slider_1_style_sl_cnntr {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    p {
        line-height: 30px;
        margin: 0;
    }

    h3 {
        font-size: 18px;
        margin: 0;
        margin-bottom: 20px;
        line-height: 30px;
        font-weight: 700;
    }
}

// панель для переключалок
.slider_1_style_inp {
    justify-content: center;
    column-gap: 19px;


    input[type="radio"]:checked,            // для всех radio
    input[type="radio"]:not(:checked) {
       display: contents;
    }

    input[type="radio"] + label {           // сдежующий за radio label
        width: 20px;
        height: 20px;
        cursor: pointer;

        &::before {                          // создать для label псевдо элементы
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transition: linear 0.15s;
        }
    }

    // НАЖАТЫЙ radio
    input[type="radio"]:checked + label {
        &::before {
            background-color: #28364500;
            opacity: 100%;
            transform: scale(100%);
            
            border-color: #283645;
            border-width: 5px;
            border-style: solid;
        }
    }

    // НЕ НАЖАТЫЙ radio
    input[type="radio"]:not(:checked) + label {
        &::before {
            background-color: #28364542;
            opacity: 100%;
            transform: scale(50%);
            border: none;
        }
    }
}