/*  
    высота расчитывается автоматом, (высота addon_slider__vieport) + (высота addon_slider__input)
    общая ширина задается в js-addon_slider
*/

.js-addon_slider {                          /* весь слайдер */
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  /*  overflow: hidden;*/
    width: 100%;                        /*!!! ЗАДАТЬ ШИРИНУ СЛАЙДЕРА */
}

.addon_slider__vieport {                        /* контейнер для слайдов */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    height: fit-content;                /*!!! ЗАДАТЬ ВЫСОТУ ВЬЮПОРТА */  
}

.addon_slider__slide {                          /* все слаиды */
    overflow: hidden;
    width: 100%;                                 /* НЕ БОЛЕЕ 100% (50% тогда будут отображатся 2 слайда одновременно)*/
    height: 100%;   
    flex-shrink: 0;                             /* запрет на сжатие во flex пространстве */
    flex-grow: 0;                               /* запрет на растяжение во flex пространстве */
    transition: transform ease-in-out 0.7s, 
                opacity ease 0.5s;
    /*---------------------*/
 /*   background-color: rgba(3, 104, 0, 0.5); */
 /*   opacity: 0%;*/
 /*   outline: 2px solid rgb(255, 238, 0);*/
}

.addon_slider__slide--active {                   /* активный слаид */
    /*---------------------*/
  /*  background-color: rgb(3, 104, 0); */
  /*  opacity: 100%;*/
}

.addon_slider__in_slide_container {             /* доп. контейнер внутри слайдов */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.addon_slider__in_slide_container img {         /* картинки в слайдерах */
    object-fit: contain;                        /* contain-чтоб вся влезла в область    cover-чтоб заполнила всю область*/
    object-position: center;
    width: 100%;
    height: 100%;
}

.addon_slider__input {                          /* контейнер переключалок */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addon_slider__radio {                          /* переключалки */

}


