/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 3 version
*/

@font-face {
  font-family: opensans;
  src: url(../fonts/opensans.woff);
}
@font-face {
  font-family: opensans_bold;
  src: url(../fonts/opensansbold.woff);
}
@font-face {
  font-family: opensans_light;
  src: url(../fonts/opensanslight.woff);
}
@-webkit-keyframes hand_anim {
  0% {
    -webkit-transform: translateY(608px) rotateZ(40deg);
            transform: translateY(608px) rotateZ(40deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}
@keyframes hand_anim {
  0% {
    -webkit-transform: translateY(608px) rotateZ(40deg);
            transform: translateY(608px) rotateZ(40deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}
.custom-button {
  border-radius: 50px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
  font-family: opensans_bold;
  color: white;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all, ease-in, 0.1s;
  -o-transition: all, ease-in, 0.1s;
  transition: all, ease-in, 0.1s;
}
.custom-button:hover {
  background-color: #ffffff;
  color: #D22856;
}
.custom-button:active {
  background-color: #ffffff;
  color: #d2285563;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.object--hidden {
  display: contents;
}
.object--hidden:active {
  display: contents;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  *:focus {
    outline: none;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  *:focus {
    outline: none;
  }
}
.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #d9d9d9;
  overflow-x: hidden;
  font-family: opensans;
  font-size: 14px;
  min-width: 220px;
}
@media (min-width: 1200px) {
  .body {
    font-size: 18px;
  }
}
.body::-webkit-scrollbar {
  width: 10px;
  right: 10px;
  position: relative;
}
.body::-webkit-scrollbar-track {
  background-color: #757575;
}
.body::-webkit-scrollbar-thumb {
  background-color: #ffa228;
  border-radius: 50px;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: black;
}
.link--os {
  line-height: 0;
  border: none;
}
.link--custom-hover {
  color: #D22856;
  text-decoration: none;
}
.link--custom-hover:hover {
  color: #283645;
  text-decoration: underline;
}
.link--custom-hover:active {
  text-decoration: none;
  opacity: 30%;
}
.header {
  background-color: #1D2631;
}
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  .header {
    min-height: auto;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .header {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .header {
    height: auto;
  }
}
@media (min-width: 1200px) {
  .header {
    height: auto;
  }
}
.header-backgraund {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .header-backgraund {
    background-image: url(../img/bg-back-mobile@1x.jpg);
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .header-backgraund {
    background-image: url(../img/bg-back-tablet@1x.jpg);
  }
}
@media (min-width: 1200px) {
  .header-backgraund {
    background-image: url(../img/bg-back-desktop@1x.jpg);
  }
}
.header-backgraund__png-hand {
  position: absolute;
  bottom: 0px;
  width: auto;
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .header-backgraund__png-hand {
    content: url(../img/iphone-hand-mobile@1x.png);
    height: 65%;
    -webkit-transform: translateX(-27px);
        -ms-transform: translateX(-27px);
            transform: translateX(-27px);
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .header-backgraund__png-hand {
    content: url(../img/iphone-hand-tablet@1x.png);
    height: 70%;
    right: 6%;
  }
}
@media (min-width: 1200px) {
  .header-backgraund__png-hand {
    content: url(../img//iphone-hand-desktop@1x.png);
    height: 80%;
    right: 5%;
    -webkit-animation: hand_anim 1s 1 ease-out;
            animation: hand_anim 1s 1 ease-out;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
}
.header-backgraund--header-container {
  display: none;
  width: 100vw;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .header-backgraund--header-container {
    height: 68vh;
    min-height: 363px;
    max-height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .header-backgraund--header-container {
    height: 100vh;
    min-height: 446px;
    max-height: 744px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .header-backgraund--header-container {
    height: 100vh;
    min-height: 595px;
    max-height: 970px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__h1 {
  margin: 0;
  padding: 0;
}
.header__h1 h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: opensans_light;
  font-size: 24px;
  font-weight: lighter;
}
.header__h1--set_pos {
  text-align: center;
}
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  .header__h1--set_pos {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .header__h1--set_pos {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    top: 63px;
    width: 100%;
    height: 14vh;
    min-height: 75px;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .header__h1--set_pos {
    display: block;
  }
  .header__h1--set_pos h1 {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .header__h1--set_pos {
    display: block;
  }
  .header__h1--set_pos h1 {
    font-size: 50px;
  }
}
.js-menu {
  background-color: #0b0f137a;
  z-index: 999;
}
.js-menu--active {
  background-color: #283645;
}
@media (min-width: 1200px) {
  .js-menu,
  .js-menu--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    background-color: #0b0f137a;
  }
}
.menu__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  height: 66px;
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .menu__input {
    height: 110px;
  }
}
@media (min-width: 1200px) {
  .menu__input {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 110px;
    padding: 0;
  }
}
.menu__logo {
  width: 74px;
  height: 23px;
  display: none;
  fill: white;
  color: white;
}
.menu__logo:hover {
  fill: #d22856;
  color: #d22856;
}
.menu__logo:active {
  fill: white;
  color: white;
  opacity: 30%;
}
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  .menu__logo {
    width: 74px;
    height: 23px;
  }
  .menu__logo--type-mobile {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .menu__logo {
    width: 74px;
    height: 23px;
  }
  .menu__logo--type-mobile {
    display: block;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .menu__logo {
    width: 145px;
    height: 40px;
  }
  .menu__logo--type-tablet {
    display: block;
  }
}
@media (min-width: 1200px) {
  .menu__logo {
    width: 147px;
    height: 40px;
  }
  .menu__logo--type-desctop {
    display: block;
  }
}
.menu__buton {
  width: 50px;
  height: auto;
  cursor: pointer;
  content: url(../img/icon-menu-burger.svg);
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .menu__buton {
    content: url(../img/icon-menu-burger.svg);
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .menu__buton {
    content: url(../img/icon-menu-burger.svg);
  }
}
@media (min-width: 1200px) {
  .menu__buton {
    display: none;
  }
}
.menu__buton--active {
  content: url(../img/icon-menu-cross.svg);
  width: 23px;
  height: auto;
}
@media (min-width: 1200px) {
  .menu__buton--active {
    display: none;
  }
}
.menu__buton:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.menu__buton:active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  .menu__elements {
    display: none;
  }
  .menu__elements--active {
    display: block;
    border-width: 1.4px;
    border-top-color: #000000;
    border-top-style: inset;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    max-height: 500px;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .menu__elements {
    display: none;
  }
  .menu__elements--active {
    display: block;
    border-width: 1.4px;
    border-top-color: #000000;
    border-top-style: inset;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    max-height: 500px;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .menu__elements {
    display: none;
  }
  .menu__elements--active {
    display: block;
    border-width: 1.4px;
    border-top-color: #000000;
    border-top-style: inset;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    max-height: 500px;
  }
}
@media (min-width: 1200px) {
  .menu__elements {
    margin: 0;
    padding: 0;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
    -moz-column-gap: 15px;
         -webkit-column-gap: 15px;
            column-gap: 15px;
    row-gap: 15px;
  }
}
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  .menu__element {
    list-style-type: none;
    /* убрать точки скраю */
    height: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-width: 1.5px;
    border-bottom-color: #000000;
    border-bottom-style: inset;
    border-top-color: #b7b7b7;
    border-top-style: inset;
  }
  .menu__element a {
    text-decoration: none;
    color: white;
    font-family: opensans_bold;
    /* шрифт */
    text-transform: uppercase;
    /* Заглавные буквы */
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .menu__element {
    list-style-type: none;
    /* убрать точки скраю */
    height: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-width: 1.5px;
    border-bottom-color: #000000;
    border-bottom-style: inset;
    border-top-color: #b7b7b7;
    border-top-style: inset;
  }
  .menu__element a {
    text-decoration: none;
    color: white;
    font-family: opensans_bold;
    /* шрифт */
    text-transform: uppercase;
    /* Заглавные буквы */
    font-size: 18px;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .menu__element {
    list-style-type: none;
    /* убрать точки скраю */
    height: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-width: 1.5px;
    border-bottom-color: #000000;
    border-bottom-style: inset;
    border-top-color: #b7b7b7;
    border-top-style: inset;
  }
  .menu__element a {
    text-decoration: none;
    color: white;
    font-family: opensans_bold;
    /* шрифт */
    text-transform: uppercase;
    /* Заглавные буквы */
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .menu__element {
    list-style-type: none;
    /* убрать точки скраю */
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    width: 141px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__element--active {
    padding-top: 4px;
    border-bottom: white;
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 4px;
  }
  .menu__element a {
    text-decoration: none;
    color: #ffffff;
    font-family: opensans_light;
    /* шрифт */
    text-transform: capitalize;
    /* Заглавные первые буквы */
    font-size: 18px;
    text-align: center;
    fill: white;
    color: white;
  }
  .menu__element a:hover {
    fill: #d22856;
    color: #d22856;
  }
  .menu__element a:active {
    fill: white;
    color: white;
    opacity: 30%;
  }
}
.menu--container {
  width: 100vw;
  min-width: 220px;
  top: 0px;
  position: absolute;
}
.dovnload-module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  overflow: hidden;
}
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  .dovnload-module--set_pos {
    max-width: 270px;
    margin: 0 auto;
    padding: 83px 10px 20px 10px;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .dovnload-module--set_pos {
    max-width: 270px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .dovnload-module--set_pos {
    max-width: 270px;
    min-height: 446px;
    max-height: 744px;
    position: absolute;
    top: 0;
    right: 53%;
    height: 100vh;
    padding-top: 108px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .dovnload-module--set_pos {
    max-width: 270px;
    min-height: 595px;
    max-height: 970px;
    position: absolute;
    top: 0;
    right: 56%;
    height: 100vh;
    padding-top: 108px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.dovnload-module__icons {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -moz-column-gap: 35px;
       -webkit-column-gap: 35px;
          column-gap: 35px;
  row-gap: 20px;
}
.dovnload-module__descr {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}
.dovnload-module__descr p {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-family: opensans_light;
}
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .main {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  .rectangle {
    font-size: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    row-gap: 20px;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .rectangle {
    row-gap: 20px;
    font-size: 24px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .rectangle {
    font-size: 40px;
    line-height: 54px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .rectangle {
    font-size: 50px;
    line-height: 68px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  .rectangle--set_pos {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .rectangle--set_pos {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .rectangle--set_pos {
    margin-top: 48px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .rectangle--set_pos {
    margin-top: 77px;
    margin-bottom: 70px;
  }
}
.rectangle__h2 {
  font-family: opensans_light;
  font-weight: lighter;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  text-align: center;
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .rectangle__h2:last-child {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .rectangle__h2:last-child {
    max-width: 500px;
  }
}
/*

*/
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .intro {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: auto 42px auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
        grid-template-areas: "image text1" "image text2" "image text3";
    -moz-column-gap: 42px;
         -webkit-column-gap: 42px;
            column-gap: 42px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
  }
}
@media (min-width: 1200px) {
  .intro {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -ms-grid-rows: auto 45px auto;
    grid-template-rows: auto auto;
        grid-template-areas: "image1 image2 image3" "text1 text2 text3";
    row-gap: 45px;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .intro__itm {
    max-width: 500px;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .intro__itm {
    min-width: 250px;
    max-width: 400px;
  }
  .intro__itm:nth-of-type(1) {
    grid-area: text1;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-row-align: end;
        align-self: end;
  }
  .intro__itm:nth-of-type(2) {
    grid-area: text2;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .intro__itm:nth-of-type(3) {
    grid-area: text3;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-row-align: start;
        align-self: start;
  }
  .intro__itm:nth-of-type(2n+4) .intro__h,
  .intro__itm:nth-of-type(2n+4) .intro__txt {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .intro__itm {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 500px;
  }
  .intro__itm:nth-of-type(1) {
    grid-area: text1;
  }
  .intro__itm:nth-of-type(2) {
    grid-area: text2;
  }
  .intro__itm:nth-of-type(3) {
    grid-area: text3;
  }
}
.intro__h {
  margin: 0;
  text-align: center;
  line-height: 1.2em;
}
@media (min-width: 50px) and (max-width: calc(320px - 1px)) {
  .intro__h {
    font-size: 18px;
    margin-bottom: 18px;
    margin-top: 37px;
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .intro__h {
    font-size: 18px;
    margin-bottom: 18px;
    margin-top: 37px;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .intro__h {
    font-size: 18px;
    margin-bottom: 18px;
    margin-top: 25px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .intro__h {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.intro__txt {
  text-align: center;
  margin: 0;
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .intro__txt {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .intro__txt {
    font-size: 18px;
  }
}
.intro__img {
  display: none;
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .intro__img--scr1 {
    content: url(../img/iphone-screen-mobile@2x.png);
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .intro__img--scr1 {
    content: url(../img/iphone-screen-3-tablet@2x.png);
  }
}
@media (min-width: 1200px) {
  .intro__img--scr1 {
    content: url(../img/iphone-screen-1-desktop@2x.png);
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .intro__img--scr2 {
    content: url(../img/iphone-screen-mobile@2x.png);
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .intro__img--scr2 {
    content: url(../img/iphone-screen-2-tablet@2x.png);
  }
}
@media (min-width: 1200px) {
  .intro__img--scr2 {
    content: url(../img/iphone-screen-2-desktop@2x.png);
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .intro__img--scr3 {
    content: url(../img/iphone-screen-1-desktop@2x.png);
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .intro__img--scr3 {
    content: url(../img/iphone-screen-2-desktop@2x.png);
  }
}
@media (min-width: 1200px) {
  .intro__img--scr3 {
    content: url(../img/iphone-screen-3-desktop@2x.png);
  }
}
@media (min-width: 320px) and (max-width: calc(660px - 1px)) {
  .intro__img:first-of-type {
    display: block;
    margin-top: 38px;
    height: 320px;
    width: 157px;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .intro__img:first-of-type {
    display: block;
    margin-top: 38px;
    height: 421px;
    width: 237px;
    grid-area: image;
  }
}
@media (min-width: 1200px) {
  .intro__img {
    display: block;
    width: auto;
    height: 300px;
  }
  .intro__img:nth-of-type(1) {
    grid-area: image1;
  }
  .intro__img:nth-of-type(2) {
    grid-area: image2;
  }
  .intro__img:nth-of-type(3) {
    grid-area: image3;
  }
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .intro__itm:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .intro__itm:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .intro__itm:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .intro__itm:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .intro__itm:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .intro__itm:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .intro__img:first-of-type {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
}
@media (min-width: 1200px) {
  .intro__itm:nth-of-type(1) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .intro__itm:nth-of-type(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .intro__itm:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .intro__itm:nth-of-type(1) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .intro__itm:nth-of-type(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .intro__itm:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .intro__img:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .intro__img:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .intro__img:nth-of-type(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
.effect-info {
  display: none;
}
@media (min-width: 660px) and (max-width: calc(1200px - 1px)) {
  .effect-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-column-gap: 9%;
         -webkit-column-gap: 9%;
            column-gap: 9%;
    row-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .effect-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-column-gap: 9%;
         -webkit-column-gap: 9%;
            column-gap: 9%;
    row-gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.effect-info--set-pos {
  margin-top: 54px;
  margin-bottom: 100px;
}
@media (min-width: 1200px) {
  .effect-info--set-pos {
    margin-top: 80px;
    margin-bottom: 130px;
  }
}
.effect-info__image {
  position: relative;
  font-size: 0px;
}
.effect-info__image svg:first-child {
  fill: #c1c1c1;
  width: auto;
  height: 240px;
}
@media (min-width: 1200px) {
  .effect-info__image svg:first-child {
    height: 300px;
  }
}
.effect-info__image::before {
  content: '';
  width: 170px;
  height: 170px;
  display: block;
  position: absolute;
  border: 14px solid #D22856;
  border-radius: 50%;
  left: calc(49.5% - 85px);
  top: calc(56.5% - 85px);
}
@media (min-width: 1200px) {
  .effect-info__image::before {
    width: 200px;
    height: 200px;
    border: 18px solid #D22856;
    left: calc(44% - 85px);
    top: calc(52% - 85px);
  }
}
.effect-info__image::after {
  content: '24';
  position: absolute;
  top: calc(50% - 48px);
  left: 0px;
  font-size: 96px;
  font-family: opensans;
  color: #D22856;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
@media (min-width: 1200px) {
  .effect-info__image::after {
    font-size: 120px;
    top: calc(47% - 48px);
  }
}
.effect-info__text {
  max-width: 310px;
}
.effect-info__text h3 {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}
@media (min-width: 1200px) {
  .effect-info__text {
    max-width: 535px;
  }
}
.slider_1_style {
  width: 100%;
  /*!!! ЗАДАТЬ ШИРИНУ СЛАЙДЕРА */
  min-height: 360px;
  /*!!! ЗАДАТЬ ВЫСОТУ СЛАЙДЕРА */
  padding-bottom: 60px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  row-gap: 44px;
}
.addon_slider__slide .slider_1_style_sl_cnntr {
  opacity: 0%;
  -webkit-transform: scale(30%) scaleX(5%);
      -ms-transform: scale(30%) scaleX(5%);
          transform: scale(30%) scaleX(5%);
  -webkit-transition: linear 0.4s;
  -o-transition: linear 0.4s;
  transition: linear 0.4s;
}
.addon_slider__slide--active .slider_1_style_sl_cnntr {
  opacity: 100%;
  -webkit-transform: scale(100%) scaleX(100%);
      -ms-transform: scale(100%) scaleX(100%);
          transform: scale(100%) scaleX(100%);
  -webkit-transition: linear 0.1s;
  -o-transition: linear 0.1s;
  transition: linear 0.1s;
}
.slider_1_style_sl_cnntr {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider_1_style_sl_cnntr p {
  line-height: 30px;
  margin: 0;
}
.slider_1_style_sl_cnntr h3 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: 700;
}
.slider_1_style_inp {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-column-gap: 19px;
       -webkit-column-gap: 19px;
          column-gap: 19px;
}
.slider_1_style_inp input[type="radio"]:checked,
.slider_1_style_inp input[type="radio"]:not(:checked) {
  display: contents;
}
.slider_1_style_inp input[type="radio"] + label {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.slider_1_style_inp input[type="radio"] + label::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: linear 0.15s;
  -o-transition: linear 0.15s;
  transition: linear 0.15s;
}
.slider_1_style_inp input[type="radio"]:checked + label::before {
  background-color: #28364500;
  opacity: 100%;
  -webkit-transform: scale(100%);
      -ms-transform: scale(100%);
          transform: scale(100%);
  border-color: #283645;
  border-width: 5px;
  border-style: solid;
}
.slider_1_style_inp input[type="radio"]:not(:checked) + label::before {
  background-color: #28364542;
  opacity: 100%;
  -webkit-transform: scale(50%);
      -ms-transform: scale(50%);
          transform: scale(50%);
  border: none;
}

/*# sourceMappingURL=style.css.map */
